@import '../../exports/constants.scss';

.egg {
  background: $egg-color;
  border: 5px solid $egg-border-color;
  border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
  height: 85px;
  position: fixed;
  width: 60px;
}
