.scoreboard {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 100px / 50px;
  font-family: 'PartyConfetti';
  padding-bottom: 8px;
  padding-top: 12px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 20px;
  width: 160px;

  span {
    color: white;
    font-size: 50px;
    font-weight: 500;
  }
}
