:root {
  --chicken-vertical: 42%;
  --chicken-horizontal: 45%;

  --egg-wobble-duration: 0.8s;
  --egg-wobble-delay: 1s;
  --egg-wobble-iteration: 3;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-120px);
  }
}

.jump {
  animation-name: jump;
  animation-delay: 0s;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes egg-wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
    transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
    transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.egg-wobble {
  animation-name: egg-wobble;
  animation-duration: var(--egg-wobble-duration);
  animation-delay: var(--egg-wobble-delay);
  animation-iteration-count: var(--egg-wobble-iteration);
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.shrink {
  animation-name: shrink;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.grow {
  animation-name: grow;
  animation-duration: 0.5s;
  animation-delay: calc(
    var(--egg-wobble-duration) * var(--egg-wobble-iteration) +
      var(--egg-wobble-delay)
  );
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
