:root {
  --chicken-vertical: 45%;
  --chicken-horizontal: 45%;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-120px);
  }
}

.jump {
  animation-name: jump;
  animation-delay: 0s;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}
